# Logs
logs
*.log

# Directories and files
node_modules
dist
dist-ssr

blob-report
playwright-report
playwright/.cache
test-results

.cache
.vite
.vscode
!.vscode/extensions.json
*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?