@import "../../../styles/helpers/helpers";

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}

[data-component="Loader"] {
  background-color: rgba(255, 255, 255, .8);
  @include position(fixed, 0, 0, 0, 0, 100);

  .atom-spinner {
    @include square(100px);
    overflow: hidden;
    @extend %center-absolute;

    .spinner-inner {
      position: relative;
      display: block;
      @include square(100%);
    }

    .spinner-circle {
      display: block;
      color: #61DAFB;
      font-size: calc(80px * 0.24);
      @extend %center-absolute;
    }

    .spinner-line {
      position: absolute;
      @include square(100%);
      border-radius: 50%;
      animation-duration: 1s;
      border-left-width: calc(100px / 25);
      border-top-width: calc(100px / 25);
      border-left-color: #61DAFB;
      border-left-style: solid;
      border-top-style: solid;
      border-top-color: transparent;

      &:nth-child(1) {
        animation: atom-spinner-animation-1 1s linear infinite;
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
      }

      &:nth-child(2) {
        animation: atom-spinner-animation-2 1s linear infinite;
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
      }

      &:nth-child(3) {
        animation: atom-spinner-animation-3 1s linear infinite;
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
      }
    }
  }
}
