/* ELEMENTS
==============================*/

/* TITLE */

.page-title {

}

.page-subtitle {

}

.section-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.section-subtitle {

}


/* SECTION */

.page-section {
  padding: 100px 0;
}


/* PAGINATION */

.page-link {
  color: $primary;

  &:hover {
    color: darken($primary, 5%);
  }
}

.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
}
