// FONTS

// NOME DA FONTE
// @font-face {
//   font-family: 'Nome da Fonte';
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/nome-da-fonte/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('../fonts/nome-da-fonte/webfont.woff2') format('woff2'), /* Super Modern Browsers */
//   url('../fonts/nome-da-fonte/webfont.woff') format('woff'), /* Pretty Modern Browsers */
//   url('../fonts/nome-da-fonte/webfont.ttf') format('truetype'), /* Safari, Android, iOS */
//   url('../fonts/nome-da-fonte/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

// NOME DA FONTE

// Ultra Light
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 100;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-ultralight-webfont.woff');
// }

// Thin
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 200;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-thin-webfont.woff');
// }

// Regular
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 400;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-regular-webfont.woff');
// }

// Medium
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 500;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-medium-webfont.woff');
// }

// Semi Bold
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 600;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-semibold-webfont.woff');
// }

// Bold
// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 700;
//   font-display: swap;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-bold-webfont.woff');
// }

// SCROLLBAR
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  @include square(8px);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c8cc;
}

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

// LIST
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// FIGURE
figure {
  margin: 0;
}

// LINK
a {
  text-decoration: none;
}

// BUTTON
button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
