/* GENERAL
==============================*/

/* TEXT CONTINUED */

.text-continued {
  @extend %text-continued;
}


/* CENTER ABSOLUTE */

.center-absolute {
  @extend %center-absolute;
}

/* Horizontal center */

.center-absolute-x {
  @extend %center-absolute-x;
}

/* Vertical center */

.center-absolute-y {
  @extend %center-absolute-y;
}


/* BACKGROUND IMAGE */

/* Contain */

.bg-image-contain {
  @extend %background-image-contain;
}

/* Cover */

.bg-image-cover {
  @extend %background-image-cover;
}


/* DISABLES CURSOR ACTIONS ON THE ELEMENT */

.disabled-cursor {
  pointer-events: none;
}


/* FONTS */

/* NOME DA FONTE */

// @font-face {
//   font-family: 'Nome da Fonte';
//   src: url('../fonts/nome-da-fonte/webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/nome-da-fonte/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('../fonts/nome-da-fonte/webfont.woff2') format('woff2'), /* Super Modern Browsers */
//   url('../fonts/nome-da-fonte/webfont.woff') format('woff'), /* Pretty Modern Browsers */
//   url('../fonts/nome-da-fonte/webfont.ttf') format('truetype'), /* Safari, Android, iOS */
//   url('../fonts/nome-da-fonte/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

/* NOME DA FONTE */

/* Ultra Light */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 100;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-ultralight-webfont.woff');
// }

/* Thin */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 200;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-thin-webfont.woff');
// }

/* Regular */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 400;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-regular-webfont.woff');
// }

/* Medium */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 500;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-medium-webfont.woff');
// }

/* Semi Bold */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 600;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-semibold-webfont.woff');
// }

/* Bold */

// @font-face {
//   font-family: 'San Francisco';
//   font-weight: 700;
//   src: url('../fonts/nome-da-fonte/nome-da-fonte-bold-webfont.woff');
// }


/* SCROLLBAR */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  @include square(8px);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C1C8CC;
}


/* LINKS */

a:hover {
  text-decoration: none;
}
