// GENERAL
.text-center {
  text-align: center;
}

.text-continued {
  @extend %text-continued;
}

.overflow-hidden {
  overflow: hidden;
}

.disabled-cursor {
  pointer-events: none;
}

.w-full {
  width: calc($layout-spacing-x + 100% + $layout-spacing-x);
  margin-left: -$layout-spacing-x !important;
  margin-right: -$layout-spacing-x !important;
}

.h-full {
  height: 100%;
}

// ABSOLUTE CENTER
.absolute-center {
  @extend %absolute-center;
}

.absolute-center-y {
  @extend %absolute-center-y;
}

.absolute-center-x {
  @extend %absolute-center-x;
}

// BACKGROUND IMAGE
.bg-image-contain {
  @extend %background-image-contain;
}

.bg-image-cover {
  @extend %background-image-cover;
}
