%text-continued {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%flex-center,
%flex-center-y,
%flex-center-x {
  display: flex;
}

%flex-center {
  align-items: center;
  justify-content: center;
}

%flex-center-y {
  align-items: center;
}

%flex-center-x {
  justify-content: center;
}

%absolute-center,
%absolute-center-y,
%absolute-center-x {
  position: absolute;
}

%absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}

%absolute-center-x {
  left: 50%;
  transform: translateX(-50%);
}

%background-image-contain,
%background-image-cover {
  background-repeat: no-repeat;
  background-position: center;
}

%background-image-contain {
  background-size: contain;
}

%background-image-cover {
  background-size: cover;
}
