//---------- SUMMARY ----------//
// BOOTSTRAP
// COLORS
// BODY
// FONTS
// CUSTOM
// PLUGINS
// ELEMENTS
//---------- END SUMMARY ----------//

//==============================
// BOOTSTRAP
//==============================

// COLORS
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue: #628ee5;
$indigo: #8980f5;
$purple: #9b69b8;
$pink: #ea5d9d;
$red: #ff6a79;
$orange: #ffb23e;
$yellow: #fbdb62;
$green: #37c991;
$teal: #2cd5ce;
$cyan: #5dd7ea;

$primary: #dd0031;
$secondary: #628ee5;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: #eff3f6;
$dark: #343a40;

// BODY
$body-bg: #f9f9f9;
$body-color: $gray-700;

// FONTS
$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-base: 1rem;

$text-muted: $gray-600;

//==============================
// CUSTOM
//==============================

// PLUGINS

// Pretty Checkbox
$pretty--color-default: #bdc3c7;
$pretty--color-primary: $primary;
$pretty--color-info: $info;
$pretty--color-success: $success;
$pretty--color-warning: $warning;
$pretty--color-danger: $danger;
$pretty--color-dark: $dark;

// ELEMENTS
