//---------- SUMMARY ----------//
// BOOTSTRAP
  // COLORS
  // BODY
  // FONTS
// CUSTOM
  // PLUGINS
  // ELEMENTS
//---------- END SUMMARY ----------//

//==============================
// BOOTSTRAP
//==============================

// COLORS

$gray-100:  #F8F9FA;
$gray-200:  #E9ECEF;
$gray-300:  #DEE2E6;
$gray-400:  #CED4DA;
$gray-500:  #ADB5BD;
$gray-600:  #6C757D;
$gray-700:  #495057;
$gray-800:  #343A40;
$gray-900:  #212529;

$blue:      #628EE5;
$indigo:    #8980F5;
$purple:    #9B69B8;
$pink:      #EA5D9D;
$red:       #FF6A79;
$orange:    #FFB23E;
$yellow:    #FBDB62;
$green:     #37C991;
$teal:      #2CD5CE;
$cyan:      #5DD7EA;

$primary:   #61DAFB;
$secondary: #628EE5;
$success:   $green;
$info:      $cyan;
$warning:   $orange;
$danger:    $red;
$light:     #EFF3F6;
$dark:      #343A40;


// BODY

$body-bg:     #F9F9F9;
$body-color:  $gray-700;


// FONTS

$font-family-base:   'Roboto', Arial, sans-serif;
$font-size-base:     1rem;

$text-muted:         $gray-600;


//==============================
// CUSTOM
//==============================

// PLUGINS

// Pretty Checkbox
$pretty--color-default:  #BDC3C7;
$pretty--color-primary:  $primary;
$pretty--color-info:     $info;
$pretty--color-success:  $success;
$pretty--color-warning:  $warning;
$pretty--color-danger:   $danger;
$pretty--color-dark:     $dark;


// ELEMENTS
